name: Package Application with Pyinstaller

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: .      # root of repo

    - uses: actions/upload-artifact@v4
      with:
        name: windows-build
        path: dist/windows   # adjust to where PyInstaller outputs
